<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Nude Inventory Project</title>
    <script>
        function redirectToCreate(categorie) {
            // Redirige a la URL /item/id
            window.location.href = `/create/${categorie}`;
        }
        function redirectToItem(id) {
            // redirect URL /item/id
            window.location.href = `/item/${id}`;
        }
    </script>
</head>
<body>
    <%- include('header', { categories: categories }) %>
    <main id="category-main">
        <h2><%= products[0].categorie %></h2>
        <button class="btn-create" onclick="redirectToCreate('<%= products[0].categorie %>')">Create Item</button>
        <section>
            <% products.forEach(function(product) { %>
                <div class="product-box" data-id="<%= product.id %>" onclick="redirectToItem('<%= product.id %>')">
                    <p><%= product.name %></p>
                    <p>Categorie: <%= product.categorie %></p>
                    <p>Size: <%= product.size %></p>
                    <p>Color: <%= product.color %></p>
                    <p>$<%= product.price %></p>
                </div>
            <% }); %>
        </section>
    </main>

    <%- include('footer') %>
</body>
</html>