<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= item.name %></title>
    <script>
        function redirectToEdit(id) {
            // Redirige a la URL /item/id
            window.location.href = `/edit/${id}`;
        }
    </script>
</head>
<body>
    <%- include('header') %>

    <main class="edit-main">
        <div id="item" data-id="<%= item.id %>">
            <p><%= item.name %></p>
            <p><%= item.categorie %></p>
            <p><%= item.size %></p>
            <p><%= item.color %></p>
            <p >$<%= item.price %></p>
        </div>
        <div id="edit-box" data-id="<%= item.id %>" onclick="redirectToEdit('<%= item.id %>')">
            <button>Edit</button>
            <button>Delete</button>
        </div>
    </main>

    <%- include('footer') %>
</body>
</html>