<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= item.name %></title>
</head>
<body>
    <%- include('header') %>

    <main>
        <div id="item">
            <p><%= item.name %></p>
            <p><%= item.categorie %></p>
            <p><%= item.size %></p>
            <p><%= item.color %></p>
            <p >$<%= item.price %></p>
        </div>
    </main>

    <%- include('footer') %>
</body>
</html>